<div class="container">
  <div>
    <ul class="list-group">
      <% @restaurants.each do |restaurant| %>
        <li class="list-group-item"><%= link_to restaurant.name.capitalize, restaurant_path(restaurant), class:"restaurant-style" %></li>
      <% end %>
    </ul>
  </div>
  <%= link_to "New restaurant", new_restaurant_path(@restaurant), class:"btn btn-default" %>
</div>
