<div class="container">
  <h1><strong>Write your review</strong></h1>
  <%= simple_form_for [@restaurant, @review] do |f|  %>
    <%= f.input :content %>
    <%= f.input :rating, collection: (0..5) %>
    <%= f.button :submit %>
  <% end %>
</div>
